.ant-pagination {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: auto;
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item {
  border: 1px solid #D9D9D9;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #E67529;
  color: #FFFFFF;
  border: none;
}

.ant-pagination .ant-pagination-item-active a {
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: #FFFFFF;
}
